/*Images*/

img#background {
    position: absolute;
    z-index: -1;
    width: 33%;
}

img#icon {
    width: 50px;
    margin-right: 10px;
}

.title-banner {
    position: absolute;
    top: 100px;
    left: 150px;
    display: flex;
    align-items: center;
}

.title-banner > h1 {
    margin: 0 0 0 10px;
    color: antiquewhite;
    font-size: 45px;;
}

