/*Images*/

img#background {
    width: 100%;
}

img#icon {
    width: 50px;
    margin-right: 10px;
}

/*Body*/

body {
    display: flex;
    font-family: "Figtree";
    margin: 0;
    overflow: hidden;
}

/*Title Section*/

.title {
    width: calc(100%/3);
}

.title-banner {
    position: absolute;
    top: 100px;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.title-banner > h1 {
    margin: 0 0 0 10px;
    color: antiquewhite;
    font-size: 45px;
}

/*Main Section*/

.main {
    width: calc(200%/3);
}

.main h2 {
    margin: 60px;
}

.main .form-decorator {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 100px 60px 60px 50px;
    padding: 50px;
    background-color: antiquewhite;
}

.form-decorator > h3 {
    width: 100%;
    margin-bottom: 40px;
}

.form-decorator > p {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

label {
    width: 70%;
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: bold;
} 

input {
    width: 70%;
    height: 25px;
    margin-top: 2px;
    border: 2px solid grey;
    border-radius: 4px;
}

input:focus,
input:focus-visible {
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    outline: 0px;
}

input:invalid {
    border-color: darkred;
}

button {
    margin-left: 110px;
    height: 40px;
    width: 200px;
    background-color: darksalmon;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid darkslategrey;
    border-radius: 4px;
}

button:hover {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

p.account {
    margin: 20px 0 0 110px;
}

a {
    color: rgb(126, 57, 35);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

